/* Colours */
/* Spacing */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&display=swap");
.top {
  background-color: #68d388;
  box-shadow: -3px 4px 5px 0px rgba(132, 88, 179, 0.425);
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
}
.top .primary-nav .nav-list {
  display: flex;
}
.top .primary-nav .nav-list .list-item {
  list-style: none;
}
.top .primary-nav .nav-list .list-item .nav-link {
  color: #17224e;
  margin-right: 20px;
  text-decoration: none;
}

.loading {
  display: flex;
  justify-content: center;
  margin: auto;
}
.loading::after {
  content: "";
  background-color: #68d388;
  height: 50px;
  width: 50px;
  opacity: 0.5;
  border-radius: 50%;
  animation: load 1s ease infinite alternate;
}

@keyframes load {
  to {
    opacity: 1;
    transform: scale(1.75);
  }
}
.filter-form {
  display: flex;
  justify-content: space-between;
  margin: 50px 0px;
}

.form-item {
  background-color: #fcf2e9;
  border: 1px solid #723bac;
  border-radius: 5px;
  color: #17224e;
  height: 30px;
  margin-right: 10px;
  padding: 0px 20px;
  width: 200px;
}
.form-item:hover {
  box-shadow: -3px 4px 5px 0px rgba(255, 137, 40, 0.425);
}
.form-item.text-area {
  height: 150px;
  width: 400px;
  padding: 20px;
}
.form-item.add {
  width: 400px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.input-container .select {
  margin-bottom: 10px;
  width: 400px;
}

.form-add {
  margin: auto;
  margin-top: 50px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}
.card-container.single-card {
  align-items: center;
}

.btn {
  border: none;
  border-radius: 5px;
  height: 30px;
  margin-right: 10px;
  padding: 5px 12px;
}

.primary-btn {
  background-color: #723bac;
  border: 1px solid #723bac;
  color: #fce7e8;
}
.primary-btn:hover {
  background-color: #ff8928;
}

.secondary-btn {
  border: 1px solid #723bac;
  background-color: #fcf2e9;
  color: #723bac;
}
.secondary-btn:hover {
  border: 1px solid #ff8928;
  color: #ff8928;
}

.card {
  border: 1px solid #17224e;
  border-radius: 5px;
  margin: 15px 5px;
  height: 300px;
  width: 300px;
  padding: 20px;
}
.card.card-large {
  height: auto;
  width: 400px;
}
.card.single-card {
  margin: auto;
}
.card .title {
  font-size: 20px;
}
.card .description {
  font-size: 15px;
}
.card .min-description {
  max-height: 30%;
  overflow: hidden;
}
.card .tag-container .tag {
  background-color: #ff8928;
  border-radius: 5px;
  display: inline-block;
  font-size: small;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 5px;
}
.card .btn {
  display: inline-block;
  margin-top: 10px;
}

.footer {
  background-color: #68d388;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background-color: #fcf2e9;
  color: #17224e;
  font-family: "Space Grotesk", sans-serif;
  height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
}

main {
  min-height: 100%;
}

.site-name {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 80%;
  padding-bottom: 50px;
}

.hide {
  display: none;
}

/*# sourceMappingURL=main.css.map */
