.card{
    border: 1px solid $font-primary;
    border-radius: 5px;
    margin: 15px 5px;
    height: 350px;
    width: 300px;
    padding: $padding;

    &.card-large{
        height: auto;
        width: 400px;
    }

    &.single-card{
        margin: auto;
    }

    .title{
        font-size: 20px;
    }

    .description{
        font-size: 15px;
        min-height: 30%;
    }

    .min-description{
        height: 30%;
        overflow: hidden;
    }

    .tag-container{
        min-height: 25%;
        .tag{
            margin-bottom: 10px;
            margin-right: 10px;
        }
    }

    .btn{
        display: inline-block;
        margin-top: 10px;
    }
}