.top{
    background-color: $primary;
    box-shadow: -3px 4px 5px 0px rgba(132, 88, 179, 0.425);
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;

    .mobile-nav-toggle{
        display: none;
    }

    @media (max-width: 550px){
        .mobile-nav-toggle{
            display: block;
            border: 0;
            position: absolute;
            z-index: 9999;
            top: 0.3rem;
            right: 2rem;
            width: 2rem;
            height: 2rem;
            background: #ff892800;
        }
    }
    

    .primary-nav{
        display: flex;
        align-items: center;
        .nav-list{
            display: flex;
            margin: 0;
            padding: 0;
            
            .list-item{
                list-style: none;

                .nav-link{
                    color: $font-primary;
                   margin-inline-end: 20px;
                    text-decoration: none;
                }
            }

            @media (max-width: 550px){
                position: fixed;
                inset: 0 0 0 40%;
                background-color: #ff8928;
                flex-direction: column;
                align-items: center;
                padding: min(30vh, 105px) 30px;

                transform: translateX(100%);
                transition: transform 350ms ease-out;
                
                
                @supports (backdrop-filter: blur(2rem)){
                    background-color: #ff892880;
                    backdrop-filter: blur(2rem);
                }


                .list-item{
                    margin-bottom: 30px;
                }

                &[data-visible="true"]{
                    transform: translateX(0%);
                }

                
            }
        }
    }
}

/* Hamburger Menu*/

.hamburger{
    background: #ff892800;
    span{
        width: 100%;
        height: 3px;
        display: block;
        background: $font-primary;
        transition: all 350ms;
        border-radius: 20px;
    }
}



.stuffing{
    margin: 5px 0;
    &.active{
        width: 80%;
        transform: translateX(-1.8px);
    }
}

.top-bun{
    &.active{
        transform: rotate(-45deg) translateX(-7px);
        width: 50%;
    }
}

.bottom-bun{
    &.active{
        transform: rotate(45deg) translateX(-7px);
        width: 50%;
    }
}